# Topics covered in this notebook

**Data types**  
**Data type conversion**  
**String manipulation**  
**List and List manipulation**  
**Tuple**  
**Dictionary**

# Python datatypes

integer -- whole number

float -- numbers with decimal points

complex numbers -- is in form of a+bi like real and imaginary numbers

# Type conversion

int(x) -- converts x to interger

long(x) -- converts x to long interger

float(x) -- converts x to floating point number

complex(x) -- converts x to complex number with real part X and imaginary part zero

complex(x,y) -- converts x to complex number with real part X and imginary pary Y. X and Y are numeric expressions.

### float conversion

In [9]:
x = 20

In [10]:
print(x) # print() -- used to display.

20

In [11]:
x = float(x)

In [12]:
type(x) # type() -- used to find the type of object

float

### int to string conversion

In [13]:
s = 20
print(s)

20

In [15]:
s = str(s)
type(s)

str

## String
**+** is to do concatenation

' * ' for repetation

' ' or " " or """ """ are used for string

In [16]:
x = 'hello'

In [17]:
print(x)

hello

In [18]:
x= x+'there'

In [19]:
print(x)

hellothere

In [27]:
string1 = "nikhil"

In [28]:
string2 = "analytics"

In [29]:
print(string1)

nikhil

In [30]:
print(len(string1))

6

In [31]:
print(string1[0:3])

nik

In [34]:
string1 = string1.upper()

In [35]:
print(string1)

NIKHIL

#### convert 1st charc to upper case and rest to lower case.

In [36]:
string1 = string1[0].upper() + string1[1:].lower()

In [37]:
print(string1)

Nikhil

In [39]:
string2 = string2[0].upper() + string2[1:].lower()

In [40]:
print(string2)

Analytics

In [41]:
new_string = string1 + " " +string2

In [42]:
print(new_string)

Nikhil Analytics

In [44]:
x = "Python"
y = "is"
z = "best"

In [48]:
## string concatenation
print(x+y+z)

Pythonisbest

In [49]:
# string concatenation with space separation
print(x+" "+y+" "+z)

Python is best

In [50]:
# string repeatation
print(x*5)

PythonPythonPythonPythonPython

In [54]:
# string slicing
print(x[-2:])

on

In [55]:
print(len(x))

6

In [56]:
##2 compare "moon" and "moot"
"moon" == "moot"

False

In [59]:
##3 search "o" in the word "Python"
"o"in x # use in operator to search a string in object

True

# List

List is a ordered collection of data.  
List can have same or different datatypes (ex: [1,'a'] )  
[ ] - is used to create a list.  

#### example of list:
List1 = [10,20,"Thirty"]

In [62]:
## 4 Create a list my_list with the following values 25, 67, 34, 679, 57, 98, 14. And perform the following operations:

my_list = [25,67,34,679,57,98,14]

print(my_list)

[25, 67, 34, 679, 57, 98, 14]

In [63]:
## Reverse my_list
my_list.reverse()
print(my_list)

[14, 98, 57, 679, 34, 67, 25]

In [68]:
list1 = [10,20,30]
list2 = ['a',10,'s',20,'c',30]
#display 2nd and 3rd values
list2[1:3]

[10, 's']

In [70]:
# extract 1st and last value
print(list2[0], list2[-1]) # cannot extract 2 different position elements of a list , so using print

a 30

In [73]:
# find 5th,6th and 7th value
list2[4:]
len(list2) # there is no 7th element in list2

6

## List manipulation

In [74]:
##insert 789 in 1st position
my_list.insert(0,789) # insert element anywhere using list index (ex:  list.insert(index,element) )
print(my_list)

[789, 789, 14, 25, 34, 57, 67, 98, 679]

In [75]:
## sort my_list
my_list.sort() #use  var.sort(reverse = True) to sort in descending
print(my_list) # list sorted

[14, 25, 34, 57, 67, 98, 679, 789, 789]

In [76]:
# Add new item to list at last 
list1.append(40) # append() -- inserts new element at the last

In [79]:
# Add new item anywher using index
list1.insert(1,15)  # insert element anywhere using list index (ex:  list.insert(index,element) )
print(list1)

[10, 15, 15, 15, 20, 30, 40]

In [82]:
#remove value in list.
list1.remove(15) # list.remove(value)
print(list1)

[10, 20, 30, 40]

In [83]:
# listname.index -- to find position of a value.
list1.index(20)

1

In [88]:
#add new value(d  ,40 to list2)
list2 = list2+['d',40] # using  ' + ' to concatenate new values
print(list2)

['a', 10, 's', 20, 'c', 30, 'd', 40, 'd', 40, 'd', 40, 'd', 40, 'd', 40]

In [92]:
#replace 20 by 25
#step1 -- find the index
list2.index(20)

3

In [93]:
#step2 assinging new value by using element index
list2[3]=25

In [94]:
print(list2)

['a', 10, 's', 25, 'c', 30, 'd', 40, 'd', 40, 'd', 40, 'd', 40, 'd', 40]

In [98]:
set(list2) # set() removes duplicates

{10, 25, 30, 40, 'a', 'c', 'd', 's'}

In [103]:
list3 = [['a',10],['b',20],['c',30]] # nested list
print(list3)

[['a', 10], ['b', 20], ['c', 30]]

In [100]:
print(len(list3))

3

In [102]:
#accessing nested list elements
print(list3[1][1]) # list3[1] extracts 1 element and list3[1][1] extracts 1st element of 2nd list.

20

#### Exercises

In [104]:
#1) Create a list with the name Newlist that will contain the following values
#Rakesh, 18.9, 23, Mahesh, 356, 26.8

newlist = ['Rakesh',18.9,23,'Mahesh',356,26.8]
print(newlist)

['Rakesh', 18.9, 23, 'Mahesh', 356, 26.8]

In [105]:
#2) Create a nested list with the name PersonDetails and values –
#Mike, (1984, 2017), Jay, (1979, 2017)

PersonDetails = ['Mike',[1984,2017],'Jay',[1979,2017]]
print(PersonDetails)

['Mike', [1984, 2017], 'Jay', [1979, 2017]]

In [111]:
#3. Access the following values of the corresponding lists –

In [112]:
#i. 3rd value of Newlist.
newlist[2]

23

In [113]:
#2 4th value’s 2nd element of PersonDetails list.
PersonDetails[3][1]

2017

In [114]:
#3 2nd value from the last of Newlist
newlist[-2]

356

In [115]:
#4. Create a list my_list containing all the alphabets of ILOVEPYTHON as individual element. And perform the following task:

In [117]:
my_list = ['I','L','O','V','E','P','Y','T','H','O','N']
print(my_list)

['I', 'L', 'O', 'V', 'E', 'P', 'Y', 'T', 'H', 'O', 'N']

In [118]:
#1 access the elements 3rd to 5th
my_list[2:5]

['O', 'V', 'E']

In [119]:
#2 access the elements beginning to 4th
my_list[:4]

['I', 'L', 'O', 'V']

In [120]:
#3  access the elements 6th to end
my_list[5:]

['P', 'Y', 'T', 'H', 'O', 'N']

In [121]:
#4 access the elements beginning to end
my_list[:]

['I', 'L', 'O', 'V', 'E', 'P', 'Y', 'T', 'H', 'O', 'N']

In [124]:
#5 Repeat the list 4 times and save it with a name my_newlist and find the length of my_newlist
my_newlist = my_list * 4
print(my_newlist)
len(my_newlist)

['I', 'L', 'O', 'V', 'E', 'P', 'Y', 'T', 'H', 'O', 'N', 'I', 'L', 'O', 'V', 'E', 'P', 'Y', 'T', 'H', 'O', 'N', 'I', 'L', 'O', 'V', 'E', 'P', 'Y', 'T', 'H', 'O', 'N', 'I', 'L', 'O', 'V', 'E', 'P', 'Y', 'T', 'H', 'O', 'N']

44

In [126]:
#6  Find the position of “P” in my_list.
my_list.index("P")

5

In [127]:
# Create a list evenno containing the values (2,4,7,8,10)
# and oddno containing the value (1,2,4,6,9) and perform the following task:

evenno = [2,4,7,8,10]
addno = [1,2,4,6,9]

In [128]:
#1 change the 3rd item of evenno to 6
evenno[2] = 6
print(evenno)

In [129]:
#2 change 2nd to 4th elements of oddno to (3,5,7)
addno[1:4] = [3,5,7]
print(addno)

In [132]:
#3 add both the list
evenno + addno

[2, 4, 6, 8, 10, 1, 3, 5, 7, 9]

In [134]:
#4 Remove 2nd to 4th element in the list evenno
del evenno[1:4]

In [135]:
print(evenno)

[2, 10]

In [136]:
#5 Insert the value (12,14,16) into evenno list
evenno = evenno+[12,14,16]

In [137]:
print(evenno)

[2, 10, 12, 14, 16]

# Tuple  
Like a list, tuples are iteratable array of objects.

Tuple can be same or different datatype.

Tuples are immutable(unchangable).  

To add or remove items in tuple, it must be redeclared. 

use ( ) to create tuple.

Accessing tuple is same as List.

In [138]:
# Create a tuple my_tuple with the following data: Delhi, Bangalore, Chennai, Pune. And perform the following operations:
my_tuple = ("Delhi","Bangalore","Chennai","Pune")

In [139]:
# Get output as "C"
print(my_tuple[2][0])

C

In [140]:
# Get output as "P"
print(my_tuple[3][0])

P

# Dictionary

Dictionaries are set of key and value pairs.  

Allows you to identify values by a descriptive name instead of order in a list.  

Keys are unordered unless explicitly sorted.  

Keys are unique.  

use {key:"value"} to create dictionary

Access dictionary item using key

In [142]:
## Create a Dictionaries with the name my_dict and data:
my_dict = {"Ajay" : 302,"Vijay":506,"Dheeraj":786,"Niraj":931,"Kalyan":791}
print(my_dict)

{'Ajay': 302, 'Vijay': 506, 'Dheeraj': 786, 'Niraj': 931, 'Kalyan': 791}

In [143]:
#a value of Niraj
my_dict["Niraj"]

931

In [149]:
#b Add Mukesh:625
my_dict["Mukesh"] = 625
print(my_dict)

{'Ajay': 302, 'Vijay': 506, 'Dheeraj': 786, 'Niraj': 931, 'Kalyan': 791, 'Mukesh': 625}

In [150]:
#c del vijay from my_dict
del my_dict["Vijay"]
print(my_dict)

{'Ajay': 302, 'Dheeraj': 786, 'Niraj': 931, 'Kalyan': 791, 'Mukesh': 625}

In [151]:
#d replace Dheeraj to 500
my_dict["Dheeraj"] = 500
print(my_dict)

{'Ajay': 302, 'Dheeraj': 500, 'Niraj': 931, 'Kalyan': 791, 'Mukesh': 625}